configuration{
    display-drun: "Programas";
    display-window: "Windows";
    run-display-format:"{icon} {name}";
    font: "UbuntuMono Nerd Font 13";
    modi: "window,run,drun";
    show-icons: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

